In [1]:
import pandas as pd

In [4]:
all_bankrupt = pd.read_csv('all_bank.csv', encoding = "ISO-8859-1")

C:\Users\Joseph\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (263,341) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
all_bankrupt

,BANK_KEY,SUBSID_NAME,BANKRUPTCY_TYPE,LAW_COURT_FKEY,COURT_TYPE_CODE,COURT_NAME,COURT_S_NAME,COURT_LOC_STREET,COURT_LOC_CITY,COURT_LOC_STATE,...,HIWATER_INCMST_REVFY,HIWATER_INCMST_NETINC_QTR_DATE,HIWATER_INCMST_NETINC_QTR,HIWATER_INCMST_NETINC_TTM_DATE,HIWATER_INCMST_NETINC_TTM,HIWATER_INCMST_NETINC_FY_DATE,HIWATER_INCMST_NETINC_FY,NAME_CHANGE_DATE1,NAME_CHANGE_DATE2,NAME_CHANGE_DATE3
0,2863,NaN,11,144,1,New Jersey Bankruptcy Court,NJ BC,NaN,NaN,NJ,...,1.688770e+08,2013-09-30,11335000.0,2016-03-31,39023000.0,2016-06-30,6774000.0,NaN,NaN,NaN
1,2740,NaN,11,108,1,Delaware Bankruptcy Court,DE BC,NaN,NaN,DE,...,1.285276e+09,2007-06-30,11286000.0,2013-06-30,30175000.0,2012-12-31,7567000.0,2005-04-01,NaN,NaN
2,265,NaN,11,147,1,New York Northern Bankruptcy Court,NY NBC,NaN,NaN,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,499,NaN,11,148,1,New York Southern Bankruptcy Court,NY SBC,NaN,NaN,NY,...,0.000000e+00,1999-12-31,0.0,1999-12-31,-299519000.0,1999-12-31,0.0,NaN,NaN,NaN
4,1242,NaN,11,119,1,Illinois Northern Bankruptcy Court,IL NBC,NaN,NaN,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2774,2862,NaN,11,108,1,Delaware Bankruptcy Court,DE BC,NaN,NaN,DE,...,NaN,2016-03-31,-3837000.0,2015-12-31,-11294000.0,2015-12-31,NaN,2015-10-20,NaN,NaN
2775,2803,Aralez Pharm; Aralex Pharm. Mgt; Aralez Pharm....,11,148,1,New York Southern Bankruptcy Court,NY SBC,NaN,NaN,NY,...,2.802200e+07,2015-03-31,-28000.0,2014-12-31,19675000.0,2014-12-31,NaN,2019-01-18,NaN,NaN
2776,2861,NaN,11,171,1,Texas Southern Bankruptcy Court,TX SBC,NaN,NaN,TX,...,1.530670e+08,2018-09-30,27827000.0,2017-12-31,-77661000.0,2017-12-31,-63058000.0,2018-02-12,NaN,NaN
2777,2852,NaN,11,108,1,Delaware Bankruptcy Court,DE BC,NaN,NaN,DE,...,3.938570e+07,2018-06-30,-1027000.0,2016-12-28,0.0,2016-12-28,NaN,NaN,NaN,NaN
2778,2845,NaN,11,171,1,Texas Southern Bankruptcy Court,TX SBC,NaN,NaN,TX,...,1.328940e+08,2018-12-31,78012000.0,2018-12-31,43833000.0,2018-12-31,78012000.0,NaN,NaN,NaN